:root {
    --svg-diagram-container-border-color: #3c3220;
    --svg-diagram-container-background-color: #ab9f8a;
    --svg-diagram-border-color: #5c5240;
    --svg-diagram-background-color: #d7d5d1;
    --svg-diagram-grid-color: #c0bab0;
    --svg-diagram-selection-frame-color: #22b3bb;
}

.svg-diagram-container-wrapper {
    display: flex;
    margin: 0;
    padding: 20px;
    width: 100%;
    height: calc(100vh - 110px);
}

.svg-diagram-container {
    display: flex;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    border: 2px solid var(--svg-diagram-container-border-color);
    background-color: var(--svg-diagram-container-background-color);
}

.svg-diagram {
    margin: auto;
    border: 2px solid var(--svg-diagram-border-color);
    background-color: var(--svg-diagram-background-color);
}

.svg-diagram-grid-line {
    stroke: var(--svg-diagram-grid-color);
    stroke-width: 1;
}

.svg-diagram-selection-frame {
    fill: none;
    stroke: var(--svg-diagram-selection-frame-color);
    stroke-width: 2;
}