:root {
    --validation-message-color: #2980B9;
}

.diagram-editor-wrapper {
    display: flex;
    margin: 0;
    width: 100%;
    height: calc(100vh - 110px);
}

.diagram-panel-wrapper {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 20px;
    width: 300px;
    height: calc(100vh - 110px);
    overflow-y: auto;
}

.diagram-panel-parameter-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 20px 0 0 0;
}

.diagram-panel-parameter-label-and-value-wrapper {
    display: flex;
    width: 100%;
}

.diagram-panel-parameter-text-input-label {
    display: flex;
    margin: auto 0;
    word-wrap: break-word;
    width: 150px;
}

.diagram-panel-parameter-text-input {
    display: flex;
    margin: auto 0;
    width: 100%;
}


.diagram-panel-parameter-checkbox-input {
    display: flex;
    margin: auto 10px auto 0;
}

.diagram-panel-parameter-checkbox-input-label {
    display: flex;
    margin: auto 0;
    word-wrap: break-word;
    width: 100%;
}

.diagram-panel-information {
    display: flex;
    flex-direction: column;
    word-wrap: break-word;
    width: 100%;
    margin: 20px 0 0 0;
}

.diagram-panel-information-line {
    display: flex;
    word-wrap: break-word;
    width: 100%;
    margin: 10px 0 0 0;
    user-select: none;
}

.diagram-panel-element-button {
    display: flex;
    word-wrap: break-word;
    text-align: center;
    width: 100%;
    margin: 20px 0 0 0;
}

.diagram-panel-element-button span {
    display: flex;
    word-wrap: break-word;
    text-align: center;
    margin: auto;
}

.validation-message {
    color: var(--validation-message-color);
}