body {
}
/*
    Alternative Kudos colours with more contrast:
    #0E76BC light
    #1c5380 Dark

*/

.mainContentContainer {
    position: relative !important;
}

.mainTable {
    height: calc(100vh - 156px) !important;
    width: 100%;
    /*overflow: auto !important;*/
}

.site-title {
    position: relative;
    display: inline-block;
    text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.5), 2px 3px 5px rgba(0, 0, 0, 0.7);
}

    /*    .site-title::after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        bottom: -5px;
        height: 5px;
        background-color: #0d385b;
    }*/

    .site-title span {
        position: relative;
        display: inline-block;
    }

.title-span-1::after,
.title-span-2::after,
.title-span-3::after,
.title-span-4::after,
.title-span-5::after,
.title-span-6::after {
    content: '';
    position: absolute;
    right: 0;
    bottom: -1px;
    height: 4px;
    background-color: #0d385b;
}

.title-span-1::after {
    left: -6px;
    right: 1px;
}

.title-span-2::after {
    left: -10px;
    right: -6px;
}

.title-span-3::after {
    left: -6px;
    right: 2px;
}

.title-span-4::after {
    left: 10px;
    right: -6px;
}

.title-span-5::after {
    left: -6px;
    right: -6px;
}

.title-span-6::after {
    left: -6px;
    right: -6px;
}


.kudosText {
    color: #1c5380;
}

    .kudosText .text-muted {
        background-color: #212529;
        padding: 2px;
        border-radius: 5px;
        color: #0d385b !important;
    }

.kudosTextInline {
    /*color: black;*/
    color: #1c5380;
    padding-top: 40px;
}

    .kudosTextInline .text-muted {
        border-radius: 5px;
        color: #0d385b !important;
    }

.kudosTextTop {
    /*color: black;*/
    color: #1c5380;
    margin-top: -10px;
    margin-bottom: 15px;
}
    /*

        background-color: #0a0b0b46;
*/
    .kudosTextTop .text-muted {
        border-radius: 5px;
        color: #0d385b !important;
    }

.kudosTextToggle {
    display: flex;
    margin-top: 5px;
    align-items: center;
    justify-content: flex-end;
    color: #1c5380 !important;
}

    .kudosTextToggle label {
        margin-right: 50px;
        padding-top: 0px;
    }

    .kudosTextToggle .inputCheck {
        margin-right: 0px;
        padding-top: 0px;
    }

.home-container {
    height: calc(100vh - 100px);
    overflow: hidden;
}

.card-column {
    margin-top: 1.25rem;
    margin-bottom: 50rem;
}

.card-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 2rem;
    margin-top: 1rem;
    height: 100%;
    max-height: 400px;
    min-width: 180px;
    margin-right: 20px !important;
    margin-left: 20px !important;
    box-shadow: 3px 4px 6px rgba(0, 0, 0, 0.5), 2px 3px 5px rgba(0, 0, 0, 0.8);
}

.card {
    display: flex;
    flex-direction: column;
    background-color: #212529;
    border: 1px solid #c1c4c7;
    border-radius: 5px;
    transition: all 0.3s ease;
    color: #c1c4c7;
    z-index: 1;
    max-width: 100%;
    padding: 1rem;
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

.card-body {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 1.25rem;
}

.card-title {
    color: #f8f9fa;
    font-weight: 700;
    margin-bottom: 0.75rem;
    font-size: 1.25rem;
}

.card-text {
    margin-bottom: 1.25rem;
    color: #e0e0e0;
    flex: 1;
}

.card-outline {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    border: 1px solid #c1c4c7;
    border-radius: 5px;
    z-index: 0;
}

.card:hover {
    transform: translate(-5px, -5px);
    background-color: #363a3e;
    cursor: pointer;
}

.card-link {
    width: 75%;
    color: #f8f9fa;
    transition: all 0.3s ease;
    background-color: #0d385b;
    border-color: #f8f9fa;
    margin-top: 2px;
}

    .card-link:hover {
        color: #212529;
        background-color: #f8f9fa;
        text-decoration: none;
    }

@media (max-width: 450px) {
    .card-column {
        margin-bottom: 50rem;
    }

    .card {
        padding: 0px;
    }
}

@media (max-height: 650px) {
    .homeImg {
        display: none !important;
    }

    .card-text {
        margin-bottom: 0rem;
    }
}

@media (max-height: 789px) {
    .card-column {
        margin-top: 0rem;
    }

    .card {
        padding: 0.5rem;
    }

    .card-body {
        padding: 0.5rem;
    }

    .card-container {
        height: 80%;
    }
}

.carousel-container {
    overflow: hidden;
    position: relative;
    width: 100%;
}

.cards-wrapper {
    display: flex;
    /*  transition: transform 0.3s ease;*/
}

/* You might need to adjust the card width or margin based on your needs */
.card-container {
    flex: 0 0 auto;
    margin-right: 1rem;
}

/* Pulse Effect */
@keyframes pulse {
    0%, 100% {
        box-shadow: 0 0 10px rgba(13, 56, 91, 0.5);
    }

    50% {
        box-shadow: 0 0 20px rgba(13, 56, 91, 1), 0 0 30px rgba(13, 56, 91, 1);
    }
}

@keyframes borealisBar {
    0% {
        left: 0%;
        right: 100%;
        width: 0%;
    }

    10% {
        left: 0%;
        right: 75%;
        width: 25%;
    }

    80% {
        right: 0%;
        left: 80%;
        width: 20%;
    }

    100% {
        left: 100%;
        right: 0%;
        width: 0%;
    }
}

.dotted-lines {
    position: relative;
}

    .dotted-lines * {
        z-index: -1;
    }

.inlineBTN {
    position: absolute;
    padding: .05rem .5rem;
    font-size: .85rem;
    right: 0px;
    top: 0px;
    z-index: 0;
}

.homeImg {
    position: relative;
    display: inline-block;
    border-radius: 0px;
}

    .homeImg::before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: linear-gradient(45deg, rgba(33,37,41,1) 0%, rgba(33,37,41,0) 30%), linear-gradient(135deg, rgba(33,37,41,1) 0%, rgba(33,37,41,0) 30%), linear-gradient(225deg, rgba(33,37,41,1) 0%, rgba(33,37,41,0) 30%), linear-gradient(315deg, rgba(33,37,41,1) 0%, rgba(33,37,41,0) 30%);
        pointer-events: none;
    }

    .homeImg::before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: linear-gradient(0deg, rgba(33,37,41,1) 0%, rgba(33,37,41,0) 45%), linear-gradient(90deg, rgba(33,37,41,1) 0%, rgba(33,37,41,0) 45%), linear-gradient(180deg, rgba(33,37,41,1) 0%, rgba(33,37,41,0) 45%), linear-gradient(270deg, rgba(33,37,41,1) 0%, rgba(33,37,41,0) 45%);
        pointer-events: none;
    }

@media (max-width: 450px) {
    .home-image-container {
        max-width: 80%;
        margin: auto;
    }
}

input {
    border-color: #6c757d;
}

    input::-webkit-input-placeholder {
        color: #6c757d;
    }

    input::-moz-placeholder {
        color: #6c757d;
    }

    input:-ms-input-placeholder {
        color: #6c757d;
    }

    input:-moz-placeholder {
        color: #6c757d;
    }

/* width */
/*::-webkit-scrollbar {
    width: 5px;
    border-radius: 0px;
}*/

/* Track */
/*::-webkit-scrollbar-track {
    background: #212529;
    border-radius: 0px;
}*/

/* Handle */
/*::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background: #6c757d;
    border-radius: 5px;
}*/

/* Handle on hover */
/*::-webkit-scrollbar-thumb:hover {
        background: #555;
    }*/

.introductionBody {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    list-style: none;
    scroll-behavior: smooth;
    background-color: #080808;
    color: #fff;
    overflow-x: hidden;
}

#header {
    height: 100vh;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.header-content {
    display: flex;
    justify-content: space-between; /* Content on left, image on right */
    align-items: center;
    padding: 20px;
}

.header-text {
    flex: 1; /* Takes up available space on the left */
    max-width: 50%; /* Prevents text from being too wide */
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

    .header-text ul {
        list-style: none;
    }

    .header-text h1 {
        font-size: 45px;
        margin-bottom: 20px;
        color: #d9534f;
        text-shadow: 4px 3px 3px #333;
    }

    .header-text p {
        font-size: 30px;
    }

.header-image {
    flex: 1; /* Takes up available space on the right */
    display: flex;
    justify-content: flex-end; /* Pushes image to the right */
}

    .header-image img {
        width: 600px;
        max-width: 100%; /* Ensures responsiveness */
        filter: drop-shadow(0 0 10px #ff6f61);
        animation: floatImage 4s ease-in-out infinite;
        animation-delay: 3s;
    }

.container {
    padding: 10px;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container .title-content {
    font-size: 40px;
    letter-spacing: 2px;
    text-shadow: 0 2px 4px #ff6f61;
}

/* --------------------about-------------------- */
#about {
    padding: 50px 0;
    color: #ababab;
}

.about_row {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.about_col-1 {
    flex-basis: 35%;
}

.about_img {
    width: 360px;
    height: 360px;
    animation: floatImage 4s ease-in-out infinite;
    animation-delay: 3s;
}

    .about_img .circle {
        width: 100%;
        height: 100%;
        background: linear-gradient(#343A40, #ff6f61);
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        filter: drop-shadow(0 0 20px #ff3b3f);
    }

        .about_img .circle::after {
            content: '';
            position: absolute;
            width: 340px;
            height: 340px;
            background-color: #080808;
            border-radius: 50%;
        }

.circle_img {
    position: relative;
    width: 340px;
    height: 340px;
    border-radius: 50%;
    z-index: 1;
}

    .circle_img img {
        position: absolute;
        top: 5px;
        left: 20px;
        max-width: 300px;
        object-fit: cover;
    }


.about_col-2 {
    flex-basis: 65%;
    padding: 10px;
}

.container .sub_title {
    text-shadow: 0px 4px 4px #1797ff;
    font-size: 60px;
    font-weight: 600;
    color: #fff;
    margin-bottom: 20px;
}

.tab_about {
    margin: 50px 0;
}

.tab_titles {
    display: flex;
    margin-bottom: 40px;
}

.tab_link {
    margin-right: 30px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
    padding: 4px 12px;
    border: 2px solid #26D0CE;
    border-radius: 20px;
    text-decoration: none;
    color: var(--text-color);
}

    .tab_link:hover,
    .tab_link.active {
        color: #1A2980;
        background-color: #26D0CE;
        box-shadow: 0 0 20px #26D0CE;
    }

.tab_item {
    display: none;
}

    .tab_item ul li {
        position: relative;
        padding-left: 15px;
    }

        .tab_item ul li::after {
            content: '';
            width: 6px;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background: linear-gradient(#1A2980, #26D0CE);
            border-radius: 10px;
        }

.tab_item-date {
    font-size: 14px;
    font-weight: 500;
}

.tab_item-name {
    font-size: 18px;
    font-weight: 600;
    color: #26D0CE;
}

.tab_item-role {
    letter-spacing: 2px;
    font-weight: 600;
}

.tab_item ul li:nth-child(1) {
    margin-bottom: 30px;
}

.tab_item.active {
    display: inline-block;
}

.tab_item img {
    width: 60px;
    height: 60px;
    margin: 0 10px;
    filter: drop-shadow(0 0 10px #1797ff);
}

/* ---------------project-------------- */
#project {
    padding: 50px 0;
}

.project_list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    grid-gap: 50px;
    margin-top: 50px;
}

.project_item {
    background-color: #fff;
    box-shadow: 0 4px 8px 0 #1797ff, 0 6px 20px 0 #1A2980;
}

.cart_item {
    position: relative;
    overflow: hidden;
}

    .cart_item img {
        width: 100%;
        height: 100%;
        display: block;
        transition: transform 0.5s;
    }

    .cart_item:hover img {
        transform: scale(1.1);
    }

    .cart_item:hover .cart_item-hover {
        height: 100%;
    }

.cart_item-hover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    text-align: center;
    background: linear-gradient(#1A2980, #26D0CE, rgba(0, 0, 0, 0.6));
    overflow: hidden;
    transition: height 0.5s;
}

.item_hover-technology span {
    color: #fff;
    border: 1px solid #26D0CE;
    background-color: rgba(0, 0, 0, 0.2);
    font-size: 12px;
    font-weight: 500;
    padding: 2px 4px;
    border-radius: 10px;
    margin: 5px;
    display: inline-block;
}

.item_hover-technology {
    display: inline-block;
    padding: 10% 5% 0;
}

.item_hover-link {
    text-align: center;
}

    .item_hover-link a {
        text-decoration: none;
        color: #1A2980;
        border: 1px solid #26D0CE;
        background-color: #26D0CE;
        margin-top: 40px;
        border-radius: 20px;
        font-size: 14px;
        font-weight: 600;
        padding: 6px 8px;
        display: inline-block;
    }

        .item_hover-link a:hover {
            box-shadow: 0 0 5px #26D0CE;
            color: #26D0CE;
            background-color: #1A2980;
        }

.title_cart {
    text-align: center;
    margin: 20px 0;
}

.title_cart-name {
    font-size: 18px;
    font-weight: 600;
    color: #1A2980;
    display: inline-block;
}

.title_cart-title {
    color: #26D0CE;
    font-size: 12px;
    margin-bottom: 16px;
    display: inline-block;
}

.title_cart-desc {
    margin-bottom: 16px;
    color: #ababab;
    font-size: 14px;
    display: inline-block;
}

/* ---------------Contact---------- */
#contact {
    padding: 50px 0;
}

.contact_row {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.contact_col-1 {
    flex-basis: 35%;
}

.letter {
    padding: 20px;
    margin-top: 50px;
    border: 4px dotted #26D0CE;
    border-radius: 40px;
    box-shadow: 0 0 20px #1797ff;
    animation: floatImage 4s linear infinite;
    animation-delay: 3s;
    display: inline-block;
}

.body_letter {
    color: #ababab;
}

.footer_letter {
    margin-top: 20px;
    color: #ababab;
}

.contact_col-2 p {
    margin-top: 30px;
}

.info_contact {
    margin: 40px 0;
}

.info_contact-phone i,
.info_contact-email i {
    color: #26D0CE;
    margin-right: 15px;
    font-size: 18px;
}

.info_contact-phone a,
.info_contact-email a {
    text-decoration: none;
    color: #ababab;
}

    .info_contact-phone a:hover,
    .info_contact-email a:hover {
        color: #fff;
    }

.contact_col-2 {
    flex-basis: 60%;
}

.downloadBtn {
    text-decoration: none;
    color: #1A2980;
    padding: 8px 12px;
    border-radius: 15px;
    border: 2px solid #26D0CE;
    background-color: #26D0CE;
    font-size: 18px;
    font-weight: 500;
}

    .downloadBtn:hover {
        color: #26D0CE;
        background-color: #1A2980;
        box-shadow: 0 0 20px #26D0CE;
    }

    .downloadBtn:active,
    .item_hover-link:active,
    .tab_link:active {
        opacity: 0.8;
    }

@media only screen and (max-width: 739px) {

    .header-content {
        flex-direction: column-reverse;
    }

    .header-text {
        max-width: 100%;
        margin: 0;
    }

        .header-text h1 {
            font-size: 30px;
            margin-bottom: 10px;
        }

        .header-text p {
            font-size: 20px;
        }

    .about_row {
        display: inline-block;
    }

    .contact_row {
        display: inline-block;
    }

    .container .sub_title {
        font-size: 40px;
        font-weight: 600;
        text-align: center;
    }

    .about_col-1 {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .about_img {
        width: 300px;
        height: 300px;
    }

        .about_img .circle::after {
            width: 280px;
            height: 280px;
        }

    .circle_img {
        position: relative;
        width: 280px;
        height: 280px;
        border-radius: 50%;
        z-index: 1;
    }

        .circle_img img {
            position: absolute;
            top: 10px;
            left: 20px;
            max-width: 240px;
            object-fit: cover;
        }
}

@media only screen and (min-width: 740px) and (max-width: 1023) {
}

.grid-container {
    display: flex;
    gap: 1rem;
    justify-content: flex-start;
    flex-wrap: wrap;
    justify-content: center !important;
}

.email-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}

.email-link {
    display: flex;
    align-items: center;
    background-color: aliceblue;
    border: 2px solid rgba(20, 31, 56, 1);
    padding: 0.5rem 1rem;
    border-radius: 10px;
    text-decoration: none;
    color: white;
    transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.email-icon {
    width: 24px;
    height: 24px;
    margin-left: 0.75rem;
}

.email-link h5 {
    margin: 0;
    font-size: 1.2rem;
    font-weight: 600;
    color: rgba(39, 61, 110, 1);
}

.email-link:hover {
    background-color: rgba(49, 81, 140, 1);
    transform: translateY(-3px);
}

.email-link:hover h5 {
    color: aliceblue;
}

.email-link:hover img {
    filter: brightness(0) invert(1) brightness(1000%);
}

.google-drive-button {
    display: flex;
    align-items: center;
    margin-top: 1rem;
}

.google-drive-link {
    display: flex;
    align-items: center;
    background-color: aliceblue;
    border: 2px solid rgba(20, 31, 56, 1);
    padding: 0.5rem 1rem;
    border-radius: 10px;
    text-decoration: none;
    color: white;
    transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.google-drive-icon {
    width: 24px;
    height: 24px;
    margin-left: 0.75rem;
}

.google-drive-link h5 {
    margin: 0;
    font-size: 1.2rem;
    font-weight: 600;
    color: rgba(39, 61, 110, 1);
}

.google-drive-link:hover {
    background-color: rgba(49, 81, 140, 1);
    transform: translateY(-3px);
}

.google-drive-link:hover h5 {
    color: aliceblue;
}

.google-drive-link:hover img {
    filter: brightness(0) invert(1) brightness(1000%);
}

.download-file-button {
    display: flex;
    align-items: center;
    margin-top: 1rem;
}

.download-file-button-link {
    display: flex;
    align-items: center;
    background-color: aliceblue;
    border: 2px solid rgba(20, 31, 56, 1);
    padding: 0.5rem 1rem;
    border-radius: 10px;
    text-decoration: none;
    color: white;
    transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.download-file-icon {
    width: 24px;
    height: 24px;
    margin-left: 0.75rem;
}

.download-file-button h5 {
    margin: 0;
    font-size: 1.2rem;
    font-weight: 600;
    color: rgba(39, 61, 110, 1);
}

.download-file-button-link:hover {
    background-color: rgba(49, 81, 140, 1);
    transform: translateY(-3px);
}

    .download-file-button-link:hover h5 {
        color: aliceblue;
    }

    .download-file-button-link:hover img {
        filter: brightness(0) invert(1) brightness(1000%);
    }