@page "/"
@using System.Net;
@using System.Net.Http;
@using System.Net.Http.Headers;
@using Microsoft.AspNetCore.Components.Authorization
@using Newtonsoft.Json;
@using System.Timers;
@using System.Text.RegularExpressions;
@using BlazorWasmPortfolioGhAction.Shared.Model;
@using BlazorWasmPortfolioGhAction.Store.Actions;
@using BlazorWasmPortfolioGhAction.Store.State;
@using Fluxor;
@inject IState<ContentState> contentState
@inject IDispatcher Dispatcher
@inject HttpClient Http;
@inject NavigationManager Navigation;
@inject IJSRuntime JSRuntime;

<div class="container-fluid mx-0 ps-0 mainContentContainer">
    <div class="row mx-0 ps-0 gx-3">
        <div class="col">
            <div class="introductionBody">
                <div class="start_light"></div>
                <div id="header">
                    <div class="container">
                        <nav class="nav">
                            <h2 class="title-content">PORTFOLIO</h2>
                        </nav>
                        <div class="header-content">
                            <div class="header-text">
                                <h1>Khoi Nguyen Minh Duc</h1>
                                <p>.NET Developer</p>
                                <div class="grid-container justify-content-center">
                                    <div class="email-button contact-container">
                                        <button id="contactButton" class="contact-button email-link">
                                            <h5>Contact Me</h5>
                                            <img src="envelope-blue.svg" alt="email" class="email-icon">
                                        </button>
                                        <div id="contactOptions" class="contact-options">
                                            <a href="mailto:khoi.duc.dev@gmail.com" class="email-link">
                                                <h6>Default Email</h6>
                                                <i class="fas fa-envelope email-icon"></i>
                                            </a>
                                            <a href="https://mail.google.com/mail/?view=cm&fs=1&to=khoi.duc.dev@gmail.com" class="email-link">
                                                <h6>Gmail</h6>
                                                <i class="fab fa-google email-icon"></i>
                                            </a>
                                            <a href="https://outlook.live.com/mail/0/deeplink/compose?to=khoi.duc.dev@gmail.com" class="email-link">
                                                <h6>Outlook</h6>
                                                <i class="fab fa-microsoft email-icon"></i>
                                            </a>
                                            <a href="javascript:void(0)" class="email-link" onclick="copyEmail()">
                                                <h6>Copy Email</h6>
                                                <i class="fas fa-copy email-icon"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="google-drive-button">
                                        <a href="MyResume" class="google-drive-link">
                                            <h5>My Resume</h5>
                                            <img src="googledrive-blue.svg" alt="Resume site" class="google-drive-icon">
                                        </a>
                                    </div>
                                    <div class="download-file-button">
                                        <a href="Dissertation/CV" class="download-file-button-link">
                                            <h5>My CV</h5>
                                            <img src="downloadfile-blue.svg" alt="Download file" class="download-file-icon">
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="header-image">
                                <img src="avt-men.png" alt="Profile Image">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    const contactButton = document.getElementById('contactButton');
    const contactOptions = document.getElementById('contactOptions');

    contactButton.addEventListener('click', () => {
        contactOptions.classList.toggle('show');
    });

    document.addEventListener('click', (event) => {
        if (!contactButton.contains(event.target) && !contactOptions.contains(event.target)) {
            contactOptions.classList.remove('show');
        }
    });
    function copyEmail() {
        const email = "khoi.duc.dev@gmail.com";
        navigator.clipboard.writeText(email).then(() => {
            alert("Copy email to clipboard: " + email);
        });
    }
</script>

@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JSRuntime.InvokeVoidAsync("initializeStarfield");
            await JSRuntime.InvokeVoidAsync("initializeScrollProgress");
        }
    }
}