@page "/MyResume"
@inject IJSRuntime JS;
<div class="resume-body">
    <header>
        <div class="container header-container">
            <div class="profile-info">
                <h1>Khoi Duc <span class="chinese-name">(Nguyen Minh Duc Khoi)</span></h1>
                <p class="subtitle"><b>🤖 Junior Developer</b></p>
                <p><span class="icon">📞</span> Tel: <a href="tel:+84938751116">(+84) 0938751116</a> &amp; <a href="tel:+84384223897">(+84) 0384223897</a></p>
                <p><span class="icon">✉️</span> Email: <a href="mailto:khoi.duc.dev@gmail.com">khoi.duc.dev@gmail.com</a> &amp; <a href="mailto:khoimessi99@gmail.com">khoimessi99@gmail.com</a></p>
                <p><span class="icon">💬</span> Facebook: <a href="https://www.facebook.com/messi.khoi.9" target="_blank">https://www.facebook.com/messi.khoi.9</a></p>
                <p><span class="icon">🔗</span> LinkedIn: <a href="https://www.linkedin.com/in/%C4%91%E1%BB%A9c-kh%C3%B4i-354b77269/" target="_blank">https://www.linkedin.com/in/%C4%91%E1%BB%A9c-kh%C3%B4i-354b77269/</a></p>
                <p><span class="icon">📬</span> Telegram: <a href="https://t.me/warman99" target="_blank">https://t.me/warman99</a></p>
                <div class="links">
                    <a href="https://github.com/KhoiDuc" target="_blank" class="button">🐱 GitHub</a>
                    <a href="files/resume.pdf" target="_blank" class="button">📄 PDF Resume</a>
                    <a href="https://drive.google.com/file/d/17NgDYao2f84W4U346hyuSWZkDIkg612e/view?usp=sharing" target="_blank" class="button">🎓 Certificate</a>
                    <a href="files/transcript.pdf" target="_blank" class="button">📝 Detailed Transcript</a>
                </div>
            </div>
            <div class="carousel-container">
                <img src="images/photo2.jpg" class="carousel-image active" alt="Khoi Duc Photo 1">
                <img src="images/photo3.jpg" class="carousel-image" alt="Khoi Duc Photo 2">
                <img src="images/photo1.jpg" class="carousel-image" alt="Khoi Duc Photo 3">
                <a class="prev" @onclick="() => ChangeSlide(-1)">&#10094;</a>
                <a class="next" @onclick="() => ChangeSlide(1)">&#10095;</a>
            </div>
        </div>
    </header>

    <section class="intro">
        <div class="container">
            <p>
                I am Nguyen Minh Duc Khoi, a passionate and dedicated software developer specializing in .NET technologies, with a strong focus on building scalable, maintainable solutions and solving real-world problems through code.
                A highly skilled Backend Developer with 3 years of experience in C# and JavaScript, proficient in building high-performance, scalable ASP.NET Core applications and optimizing database queries (MySQL, PostgreSQL, Elasticsearch, SQL Server).  Possessing strong analytical skills and practical knowledge of architecture design patterns, this developer has experience designing and developing WCAG 2.1 compliant web/API applications using .NET MVC and .NET Core, with domain expertise in Data Security, E-Commerce & Retail, and Human Resource Management.  Passionate about writing clean, maintainable code, this developer seeks to contribute their skills and expertise to a dynamic team.
            </p>
        </div>
    </section>

    <main>
        <div class="container">
            <section>
                <h2>🎓 Education</h2>
                <div class="education-item">
                    <div class="education-header">
                        <div class="details">
                            <h3 class="school-name">Huflit University (GRADUATED)</h3>
                            <p class="program">Software Engineering</p>
                            <p class="school-link">
                                <a href="https://huflit.edu.vn/" target="_blank">Ho Chi Minh City University of Foreign Languages - Information Technology</a>
                            </p>
                            <p class="date">2017 - 2021</p>
                        </div>
                        <div class="education-info">
                            <p><strong>GPA:</strong> 3.33/4.0 (8.32/10)</p>
                        </div>
                    </div>
                    <div class="courses">
                        <p>
                            <b>Scan documents (University and Toeic Degree)</b>:
                            <a target="_blank" href="https://drive.google.com/file/d/17NgDYao2f84W4U346hyuSWZkDIkg612e/view?usp=sharing" class="button">📄 View Document</a>
                        </p>
                    </div>
                </div>
            </section>

            <section>
                <h2>🔬 Work Project</h2>
                <div class="experience-item">
                    <div class="details">
                        <h3>Aspire LifeStyles: Site Manager Plus Plus</h3>
                        <p><strong>Company:</strong> S3Corp</p>
                        <p><strong>Responsibilities:</strong> Full Stack Developer</p>
                        <p><strong>Technologies:</strong>.Net 8 core MVC, Jquery, EF, SQL server, Redis, Azure CDN, Kontent.AI, Application Insights log, WCAG 2.2</p>
                        <p class="date">2023 - Now</p>
                    </div>
                    <div class="content">
                        <ul>
                            <li>Site Manager Plus Plus (SM++) is the upgraded and migrated version of Site Manager, now running on .NET 8.</li>
                            <li>SM++ provides an even more efficient platform for rapid website setup and effective management.</li>
                            <li>Its modular page architecture allows clients to choose and customize templates effortlessly.</li>
                            <li>SM++ retains the core functionality and security features of Site Manager while offering enhanced performance and flexibility.</li>
                            <li>Furthermore, SM++ now supports Single Sign-On (SSO) integration with various third-party identity providers, including major financial institutions like Citi and Wells Fargo.</li>
                            <li>This enables users to seamlessly authenticate using their existing credentials for a more secure and streamlined experience.</li>
                        </ul>
                    </div>
                </div>
                <div class="experience-item">
                    <div class="details">
                        <h3>Aspire LifeStyles: Site Manager</h3>
                        <p><strong>Company:</strong> S3Corp</p>
                        <p><strong>Responsibilities:</strong> Full Stack Developer</p>
                        <p><strong>Technologies:</strong>.Net 4 MVC, Jquery, EF, SQL server, Redis, Azure CDN, Kontent.AI, Application Insights log, WCAG 2.1 </p>
                        <p class="date">2022 - 2024</p>
                    </div>
                    <div class="content">
                        <ul>
                            <li>Site Manager is a platform that helps create and deploy websites quickly.</li>
                            <li>It enables end-users to easily search, explore, and book various services such as dining, hotels, flights, nightlife, spas, limousine services, and more.</li>
                            <li>It provides a user-friendly interface and connects users with service providers from different locations worldwide.</li>
                            <li>Currently under development, the platform is being built to comply with WCAG 2.1 accessibility standards.</li>
                            <li>It incorporates robust security measures, including PCI DSS compliance to protect sensitive payment information and Veracode scanning to ensure secure code practices and mitigate potential vulnerabilities.</li>
                        </ul>
                    </div>
                </div>
                <div class="experience-item">
                    <div class="details">
                        <h3>Aspire LifeStyles: Payment Portal</h3>
                        <p><strong>Company:</strong> S3Corp</p>
                        <p><strong>Responsibilities:</strong> Full Stack Developer</p>
                        <p><strong>Technologies:</strong>.Net  MVC 4 ,EF, SQL server,  JavaScript, Webhook</p>
                        <p class="date">2022 - Now</p>
                    </div>
                    <div class="content">
                        <ul>
                            <li>This website manages international transactions.</li>
                            <li>It supports users through its integration with the Adyen payment system.</li>
                            <li>Currently upgrading from .NET MVC to .NET 8 to leverage the latest feature.</li>
                        </ul>
                    </div>
                </div>
                <div class="experience-item">
                    <div class="details">
                        <h3>Simply Blast</h3>
                        <p><strong>Company:</strong> S3Corp</p>
                        <p><strong>Responsibilities:</strong> Full Stack Developer</p>
                        <p><strong>Technologies:</strong>.Net 6 , Blazor, EF core, SQL server </p>
                        <p class="date">06/2022 - 09/2022</p>
                    </div>
                    <div class="content">
                        <ul>
                            <li>A web application for clients to create and manage advertising campaigns through WhatsApp messages.</li>
                        </ul>
                    </div>
                </div>
            </section>

            <section>
                <h2>💻 Personal Projects</h2>
                <p>No personal projects to display at this time.</p>
                @*                 <div class="project-item">
                    <div class="details">
                        <h3>Cross-Modal Pretrained Model Alignment</h3>
                        <p><a href="https://github.com/liaoyanqing666/Pretrained_Model_Alignment">Project website</a></p>
                        <p class="date">07/2024</p>
                    </div>
                    <div class="content">
                        <ul>
                            <li>Proposed and implemented a method to quickly align pre-trained models from different modalities.</li>
                            <li>Designed a twin neural network similarity module to align pretrained models with varying embedding dimensions.</li>
                            <li>Achieved rapid model alignment between text and image modalities with minimal training on a standard image classification dataset, rather than requiring a large "image-description" dataset typical for models like CLIP.</li>
                            <li>Experimentally demonstrated the project's ability to align quickly with minimal GPU requirements and satisfactory performance.</li>
                        </ul>
                    </div>
                </div>
                <div class="project-item">
                    <div class="details">
                        <h3>Reproduction and Experimentation of Paper of TextCNN</h3>
                        <p><a href="https://github.com/liaoyanqing666/TextCNN-Chinese-text-data-mining-">Project website</a></p>
                        <p class="date">03/2023</p>
                    </div>
                    <div class="content">
                        <ul>
                            <li>Reproduced and experimented with the TextCNN model.</li>
                            <li>Performed tokenization and encoding of sentence content, followed by padding or truncating sentence lengths.</li>
                            <li>Implemented word embedding and utilized multiple convolutional kernels of varying sizes for feature extraction, pooling, and final classification through fully connected layers.</li>
                        </ul>
                    </div>
                </div>
                <div class="project-item">
                    <div class="details">
                        <h3>Force Video Classification Based on CNN-LSTM</h3>
                        <p><a href="https://github.com/liaoyanqing666/CNN_LSTM_video_classification">Project website</a></p>
                        <p class="date">02/2023</p>
                    </div>
                    <div class="content">
                        <ul>
                            <li>Developed a network model based on CNN for video frame feature extraction and LSTM for sequential frame feature computation.</li>
                            <li>Compared the classification performance of KNN and ANN after freezing the feature extraction model parameters.</li>
                            <li>Achieved 92% accuracy on a public dataset, comparable to results from another study using a non-public dataset.</li>
                        </ul>
                    </div>
                </div>
                <div class="project-item">
                    <div class="details">
                        <h3>Handwriting Recognition System Based on Siamese Neural Networks</h3>
                        <p><a href="https://github.com/liaoyanqing666/siamese_neural_network_OfHSV">Project website</a></p>
                        <p class="date">11/2022</p>
                    </div>
                    <div class="content">
                        <ul>
                            <li>Independently designed and coded a system utilizing VGG16 for signature feature extraction.</li>
                            <li>Achieved 100% accuracy on the CEDAR dataset using Siamese neural networks for classification.</li>
                            <li>Developed frontend-backend interaction programs enabling the utilization of training results on web platforms.</li>
                        </ul>
                    </div>
                </div> *@
            </section>

            <section>
                <h2>🏆 Awards</h2>
                <p>No awards to display at this time.</p>
            </section>

            <section class="school-project">
                <h2>
                    📚 School Project
                </h2>
                <div class="papers-item">
                    <div class="details">
                        <h3>Food Ordering System (Full-Stack Development).</h3>
                        <p>
                            Backend: .NET 5 | Frontend: Flutter
                        </p>
                        <p>Link: <a href="https://github.com/khoinmdIT99/FoodOrder_NET5_FLUTTER" target="_blank">https://github.com/khoinmdIT99/FoodOrder_NET5_FLUTTER</a></p>
                    </div>
                    <div class="content">
                        <ul>
                            <li>Authors: Khoi Duc.</li>
                        </ul>
                    </div>
                </div>
                <div class="papers-item">
                    <div class="details">
                        <h3>Building Material E-Commerce Platform (Full-Stack Development).</h3>
                        <p>
                            Backend: .NET 5 | Frontend: Angular
                        </p>
                        <p>Link: <a href="https://github.com/khoinmdIT99/BuildingMaterialShop_NET5_ANUGLAR" target="_blank">https://github.com/khoinmdIT99/BuildingMaterialShop_NET5_ANUGLAR</a></p>
                    </div>
                    <div class="content">
                        <ul>
                            <li>Authors: Khoi Duc.</li>
                        </ul>
                    </div>
                </div>
                <div class="papers-item">
                    <div class="details">
                        <h3>Payroll Enterprise Management System.</h3>
                        <p>
                            Backend: .NET Core MVC
                        </p>
                        <p>Link: <a href="https://github.com/khoinmdIT99/Payroll-Manager/" target="_blank">https://github.com/khoinmdIT99/Payroll-Manager/</a></p>
                    </div>
                    <div class="content">
                        <ul>
                            <li>Authors: Khoi Duc.</li>
                        </ul>
                    </div>
                </div>
                <div class="papers-item">
                    <div class="details">
                        <h3>E-Commerce Platform (Full-Stack Development).</h3>
                        <p>
                            Backend: .NET Core MVC
                        </p>
                        <p>Link: <a href="https://github.com/khoinmdIT99/DoAnTMDT" target="_blank">https://github.com/khoinmdIT99/DoAnTMDT</a></p>
                    </div>
                    <div class="content">
                        <ul>
                            <li>Authors: Khoi Duc.</li>
                        </ul>
                    </div>
                </div>
                <div class="papers-item">
                    <div class="details">
                        <h3>Simple E-Commerce Platform (Full-Stack Development).</h3>
                        <p>
                            Backend: .NET Core MVC
                        </p>
                        <p>Link: <a href="https://github.com/khoinmdIT99/DoAn" target="_blank">https://github.com/khoinmdIT99/DoAn</a></p>
                    </div>
                    <div class="content">
                        <ul>
                            <li>Authors: Khoi Duc.</li>
                        </ul>
                    </div>
                </div>
            </section>

            <section>
                <h2>🛠️ Skills</h2>
                <ul class="skills-list">
                    <li>
                        <strong>Programming languages:</strong>
                        <p>NET (.NET Core, .NET MVC, WPF, Web API, WINFORM)</p>
                        <p>Mobile (Java, Flutter)</p>
                        <p>Frontend (Html, CSS, jQuery, Vanilla Js)</p>
                        <p>JavaScript frameworks (React, Angular)</p>
                    </li>
                    <li>
                        <strong>Database:</strong> <p>SqlServer, MySQL, MongoDB, PostGreSql</p>
                    </li>
                    <li>
                        <strong>Frameworks:</strong> <p>.NET core (6,8,9), .NET frameworks(4.8)</p>
                    </li>
                    <li>
                        <strong>IDE:</strong> <p>Visual Studio, Visual Studio Code, Android Studio, PyCharm</p>
                    </li>
                    <li>
                        <strong>Tools & Utilities:</strong> <p>ReSharper, Redis, Docker</p>
                    </li>
                    <li><strong>Technical skills:</strong> <p>ERP Software, Application Software, Database design, Monolithic, Microservices</p></li>
                    <li><strong>Payments:</strong> <p>Adyen, PayPal, Momo</p></li>
                </ul>
            </section>

            <section>
                <h2>🏆 TOEIC Scores (Company test)</h2>
                <ul class="awards-list">
                    <li>TOEIC: 600 <span class="date">2024</span></li>
                    <li>TOEIC: 686 <span class="date">2023</span></li>
                    <li>TOEIC: 595 <span class="date">2022</span></li>
                </ul>
            </section>

            <section>
                <h2>🤝 Extracurricular & Volunteer Activities</h2>
                <p>No extracurricular or volunteer activities to display at this time.</p>
            </section>

            <div class="progress">
                <span id="progress_value">
                    <i class="fa-solid fa-caret-up"></i>
                </span>

            </div>
        </div>
    </main>

    <footer>
        <div class="container">
            <p>&copy; 2025 Khoi Duc. All rights reserved. All original content can be found in the <a href="https://github.com/KhoiDuc/BlazorWasmPortfolioGhAction" target="_blank">website repository</a>.</p>
            <p>And there are interesting tools written by me: <a href="Utility">Click the link 🎮</a>.</p>
        </div>
    </footer>
</div>

@code {
    private IJSObjectReference? mainContentModule;
    // private IJSObjectReference? trackerModule;
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            // await LoadScript("https://www.gstatic.com/firebasejs/8.10.0/firebase-app.js");
            // await LoadScript("https://www.gstatic.com/firebasejs/8.10.0/firebase-firestore.js");

            // await WaitForFirebase();

            // trackerModule = await JS.InvokeAsync<IJSObjectReference>("import", "./js/track-visitors.js");
            // await trackerModule.InvokeVoidAsync("trackVisitor");

            mainContentModule = await JS.InvokeAsync<IJSObjectReference>("import", "./Pages/Portfolio.razor.js");
            await mainContentModule.InvokeVoidAsync("changeSlide", 0);

            await mainContentModule.InvokeVoidAsync("initializeScrollProgress");
        }
    }

    private async Task WaitForFirebase()
    {
        await JS.InvokeVoidAsync("eval", @"
            new Promise(resolve => {
                let check = () => {
                    if (typeof firebase !== 'undefined' && firebase.apps) {
                        resolve();
                    } else {
                        setTimeout(check, 100);
                    }
                };
                check();
            })
        ");
    }

    private async Task LoadScript(string src)
    {
        await JS.InvokeVoidAsync("eval", $@"
            new Promise(resolve => {{
                if (document.querySelector(`script[src='{src}']`)) {{
                    resolve();
                }} else {{
                    var script = document.createElement('script');
                    script.src = '{src}';
                    script.async = false;
                    script.onload = () => resolve();
                    script.onerror = () => console.error('Failed to load script: {src}');
                    document.head.appendChild(script);
                }}
            }})
        ");
    }

    private async Task ChangeSlide(int direction)
    {
        if (mainContentModule != null)
        {
            await mainContentModule.InvokeVoidAsync("changeSlide", direction);
        }
    }
}