.searchBar {
    z-index: 999 !important;
    text-align: center;
    position: fixed !important;
    width: 40vw !important;
    max-width: 600px;
    top: 0px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}

.form-control {
    border: hidden;
    border-radius: var(--radius-md) !important;
    box-shadow: var(--shadow-lg);
}

.form-control:hover {
    box-shadow: var(--shadow-xl);
}