@page "/SvgDiagramEditor"
@using BlazorWasmPortfolioGhAction.Pages.DiagramPanelComponents
@using BlazorWasmPortfolioGhAction.Pages.SvgDiagramComponents

<div class="diagram-editor-wrapper">
    <DiagramPanel />
    <SvgDiagram DiagramSvgId="svg-diagram"></SvgDiagram>
</div>