/* _content/BlazorFrame/BlazorFrame.razor.rz.scp.css */
.iframe-wrapper[b-231z1jg1dy] {
    width: 100%;
    overflow: hidden;
}

    .iframe-wrapper.scrollable[b-231z1jg1dy] {
        overflow: auto;
    }

    .iframe-wrapper iframe[b-231z1jg1dy] {
        display: block;
        border: none;
    }
