<div class="diagram-panel-information">
    Use the &lsaquo;Ctrl&rsaquo; key to select multiple objects
</div>
@if (_informationLines is not null && _informationLines.Length > 0)
{
    <div class="diagram-panel-information">
        @foreach (var informationLine in _informationLines)
        {
            <div class="diagram-panel-information-line">
                @informationLine
            </div>
        }
    </div>
}