<div class="diagram-panel-parameter-wrapper">
    <div class="diagram-panel-parameter-label-and-value-wrapper">
        <input type="checkbox"
               class="diagram-panel-parameter-checkbox-input"
               value="@Value"
               @onchange="@OnValueChanged" />
        <label class="diagram-panel-parameter-checkbox-input-label">@Label</label>
    </div>
</div>