<div class="diagram-panel-wrapper">
    <DiagramParametersPanel ParametersModel="@DiagramParametersModel" />
    <DiagramElementsPanel />
    <DiagramInformationPanel InformationLines="@DiagramInformationLinesModel" />
</div>