<button class="diagram-panel-element-button"
        @onclick="@(() => OnAddShape(ShapeType.Rectangle))">
    <span>Rectangle</span>
</button>
<button class="diagram-panel-element-button"
        @onclick="@(() => OnAddShape(ShapeType.Circle))">
    <span>Circle</span>
</button>
<button class="diagram-panel-element-button"
        @onclick="@(() => OnAddShape(ShapeType.Line))">
    <span>Line</span>
</button>
<button class="diagram-panel-element-button"
        @onclick="@OnRemoveSelectedElements">
    <span>Delete Selected</span>
</button>